a {
    margin: 5px;
}

a, a:visited {
    color: blue;
}

a.active {
    color: red;
}

.header {
    text-align: center;
    border: 1px solid blue;
}

.content {
    text-align: center;
    border: 1px solid red;
}